.handContainer {
  position: fixed;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  max-width: 90vw;
  z-index: 50;
}

.handContainer > * + * {
  margin-left: -40px;
}
